@model PlmLesson07.Models.PlmEmployee

@{
    ViewData["Title"] = "PlmDelete";
}

<h1>PlmDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlmEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlmId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlmId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlmBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlmBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlmEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlmEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlmPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlmPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlmSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlmSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlmStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlmStatus)
        </dd>
    </dl>
    
    <form asp-action="PlmDelete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
