@model PlmLesson05.Models.DataModels.PlmMember

<h1>Thông tin thành viên</h1>

<p>Id: @Model.PlmMemberId</p>
<p>UserName: @Model.PlmUseName</p>
<p>Password: @Model.PlmPassword</p>
<p>FullName: @Model.PlmFullName</p>
<p>Email: @Model.PlmEmail</p>
